@font-face {
    font-family: 'Foco';
    src: url('../fonts/foco.woff2') format('woff2'),
    url('../fonts/foco.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Foco';
    src: url('../fonts/foco_it.woff2') format('woff2'),
    url('../fonts/foco_it.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Foco';
    src: url('../fonts/foco_bd.woff2') format('woff2'),
    url('../fonts/foco_bd.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Foco';
    src: url('../fonts/foco_bdit.woff2') format('woff2'),
    url('../fonts/foco_bdit.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}