/* GENERAL */

body {
    margin: 0;
    padding: 0;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* TYPOGRAPHY */
body {
    font-family: 'Foco', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    color: #000000;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    line-height: 1.6;
}

/* HEADER */
header {
    display: block;
    width: 100%;
    margin: 0 auto;
    height: 80px;
    background-color: #cccccc;
    border-bottom: 1px dashed #999999;
}

/* NAVIGATION */
nav.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
}

nav.footer a {
    display: block;
    flex-grow: 1;
    text-align: center;
    margin: 20px auto;
    font-size: 2rem;
}

nav a i {
    font-size: inherit !important;
}

/* MAIN */
main #date,
main #content {
    display: block;
    width: 100%;
    text-align: center;
    line-height: 1 !important;
}

main #date .day {
    font-size: 10rem;
    color: #b20f1f;
    display: block;
}

main #date .month {
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2.3rem;
}